/* responsive screens */
/* tablet */

/* mobile */
@media screen and (max-width: 480px) {

/* page */
html, body { width: 100vw; }

body {
    margin: 0;
    min-width: 100%;
}

/* menubar */
.nc-icon-menu { 
    display: inline; 
    margin-left: auto; /* flex align right */
}

#menubar { 
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
}

#menu, #menubar-tabs { 
    display: flex; 
    flex-direction: column;
}

#galleryTitle {
    width: calc(100% - 32px);
    height: 50px;
    padding: 0 16px;
}

#menu {
    width: 100%;
    background: #4264bd;
}

#menubar dl, #menubar dt {
    width: 100%;
    height: auto;
    margin: 0;
}

#menubar dl {
    display: flex;
    flex-direction: column;
}

#menubar-tabs { padding: 0.5rem 0; }

#menubar dt a { 
    width: calc(100% - 2rem);
    height: auto;
    flex-direction: row; 
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

#menubar-tabs dt img {
    margin-right: 0.5rem;
}

#menubar dt a span {
    display: inline;
    position: static;
    text-align: left;
    width: auto;
}

/* #menubar dt a, #menubar dt a span { opacity: 1; } */

dl#mbIdentification {
    justify-content: center;
}

#mbIdentification dt {
    max-width: unset;
}

#mbIdentification dt a { 
    padding: 0.8rem; 
    margin: auto;
}

dl#qsearch-bar {
    width: calc(100% - 2rem - 12px); /* input padding is 6px */
    margin: 0;
    padding: 0 1rem;
}

#qsearch-bar form, #qsearch-bar input { 
    width: 100%;
}

#menubar dd, div[class^="pointer"]::before { position: static; }

div[class^="pointer"] {
    margin-top: -5px;
    margin-bottom: -1px;
}

div[class^="pointer"]::before { 
    display: inline-block; 
    transform: none;
}

#menubar dd {
    width: calc(100% - 10px);
    max-width: unset;
    margin: 0 5px;
    border: 0;
}

/* footer */
#copyright {
}

}
