/* page */
html, body { width: 100%; }

body { 
/*    position: absolute; */
    background: #f9f9f9; 
    min-width: 100% !important;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, Ubuntu, "Helvetica Neue", Arial, "Noto Color Emoji", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(34,34,34);
}

h2 {
    font-weight: unset;
}

a { color: rgb(34,34,34); }
a:hover, a:active { color: #999; }

#the_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div#content {
    margin: 0;
    flex: 1 0 0;
    padding: 0 16px;
}

.contentWithMenu { margin: 0; }

.titrePage {
    padding: 10px 0!important;
}

.titrePage h2 { 
    padding: 0;
    line-height: 26px;
}

INPUT[type="text"], INPUT[type="password"], INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"], INPUT[type="file"] {
    background-color: white;
    color: #222;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 6px;
    font-size: 100%;
}

INPUT:focus, SELECT:focus, TEXTAREA:focus {
    background-color: white;
    border-color: #355199;
    outline: none;
}

INPUT::placeholder { color: #999; }

a:hover {
    border: none;
    cursor: pointer;
}

img[class^='nc-icon'] { 
    width: 20px; 
    cursor: pointer;
/*    vertical-align: middle !important; */
}

/* page banner */
#theHeader { display: none; }

/* menubar */
.nc-icon-menu { display: none; }

div#menu { margin-left: auto; } /* flex align right */

#menubar, #galleryTitle, #menubar dl, #menubar dt, #menubar dt a {
    height: 50px;
}

#menubar {
    display: flex;
    flex-direction: row;
    background-color: #355199;
    margin: 0;
    padding: 0 16px;
    width: 100%;
    max-width: calc(100% - 32px);
/*    width: calc(100% - 32px); */
/*    align-items: stretch; */
/*    min-height: 50px; */
    color: white;
/*    overflow-y: hidden; */
}

#galleryTitle {
    display:inline-flex;
    align-items: center;
    width: auto;
    min-width: 0; /* truncate when window resizes */
/*    max-width: 90px; */
/*    max-width: calc(100vw - 600px); */
    min-height: 50px;
}
#galleryTitle h2 { 
    padding: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#galleryTitle h2 a:hover, #galleryTitle h2 a:focus { opacity: 0.6; }

#menu, #menubar-tabs { 
    display: inline-flex; 
    vertical-align: top;
}

#menubar dl {
    display: inline-flex;
    flex-direction: column;
    position: relative; /* for positioning of dd */
}

#menubar a { color: white; }

div[class^="pointer"] { 
    display: none; 
    line-height: 0;
}

div[class^="pointer"].is-page { 
    display: block; 
}

div[class^="pointer"].is-page::before { border-width: 10px; }
div[class^="pointer"].is-page.hover::before { border-width: 5px; }

div[class^="pointer"]::before {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border: 0 solid transparent;
    border-bottom-color: #f9f9f9;
    border-width: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    display: block;
    z-index: 11;
    transition: border-width 100ms ease;
}

#menubar dt {   
    width: 50px;
    margin: 0 2px;
    padding: 0;
    font-weight: unset;
}

#menubar dd li {
    list-style-type: none;
    padding: 0;
}

#menubar dt a { 
    position: relative;
    font-size: 12px;
    line-height: 24px; /* for expansion */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center; /* horizontal */
}

#menubar dt a, #menubar dt a span { opacity: 0.6; }

#menubar dt a span {
    display: none;
    position: absolute;
    width: 50px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 3px; /* adjust height */
    transition: all 100ms ease;
}

#menubar dt:hover {
    opacity: 1;
    cursor: pointer;
}

#menubar dt img.translate { transform: translateY(-8px); }

#menubar dt img { transition: all 100ms ease; }

#menubar dt:hover > a, #menubar dt:hover > a span, #menubar dt a.selected, #menubar dt a.selected span {
    opacity: 1;
}

#menubar dt:hover > a span, #menubar dt a.selected span { 
    width: auto; 
    font-size: 14px;
    font-weight: bold;
}

.nc-icon-mb {
    width: 20px !important;
}

#menubar dd {
    display: none;
    position: absolute;
    margin: 0;
    padding: 10px 0;
    max-width: 300px;
/*    box-shadow: 2px 2px 5px gray; */
    background-color: #f9f9f9;
    color: black;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    top: 50px;
    right: -1em;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dd#dropdown-mbSpecials {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menubar dd, #menubar dd a {
    font-size: 14px;
}

#menubar dd a {
    color: rgb(34,34,34);
}

#menubar dd a {
    display: list-item;
    list-style-type: none;
    padding: 5px 20px;
}

#mbCategories dd a, #mbRelatedCategories dd a{
    line-height: 20px;
}

#menubar dd a:hover, #menubar dd li.selected a { 
    background-color: #ebeef5; 
    font-weight: unset;
}

#menubar dd ul {
    padding: 0;
    margin: 0;
}

#menubar dd p {
    color: #777;
    padding: 0;
    margin: 0 20px 5px;
}

#menubar dd hr {
    background: #ededed;
    border: 0.5px solid transparent;
    margin: 8px;
}

#menuTagCloud { margin: 0; }

.badge {
    margin-left: 5px;
    background-color: #dbdbdb;
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 75%;
}

.badge.badgeCategories { background-color: #b3e7ff; }

.badge.badgeCategories::before, .badge.badgeCategories::after,
.badge::before, .badge::after { content:''; }

#menubar input {
    border: 1px solid transparent;
}

#mbCategories .nc-icon-recent {
    width: 1em;
    margin-left: 5px;
}

dl#qsearch-bar { 
    width: auto; 
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

#mbIdentification dt {
    margin: 0;
    width: auto;
    max-width: 65px;
}

a#link-mbIdentification { flex-direction: row !important; }

#mbIdentification dt a span {
    display: block;
    position: relative;
    bottom: 0;
    width: auto;
    line-height: normal;
}

#mbIdentification dt:hover > a span, #mbIdentification dt a.selected span { 
    font-size: 12px;
    font-weight: unset; 
}

.nc-icon-user { margin-right: 1px; }

/* infos and errors */
.infos {
    color: #333;
    background: #cfebff;
}

.errors {
    color: #f51400;
    background: #ffc4bf;    
    border: none;
}

.errors, .infos {
    margin: 5px;
    padding: 5px 1.5em;
    border-radius: 0.25rem;
    font-weight: 600;
}

.infos ul, .errors ul {
    padding: 0;
    list-style: none;
}

/* mainpage categories */
ul.thumbnailCategories {
    font-size: 0;
    margin: 0 0 15px;
    text-align: center;
}

.thumbnailCategories li {
    list-style: none;
    display: inline-block;
    float: none;
    position: relative;
/*    width: 16%; */
    width: 156px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 3px;
    font-size: 12.8px;
}

.thumbnailCategories li:before{ content:"";display:block;margin-top:100%; }

.thumbnailCategory {
    margin: 0;
    padding: 0;
}

.thumbnailCategory, .illustration, .illustration img,
.description { 
    width: 100% !important; 
    height: 100%; 
}

.illustration {
    text-align: center;
    margin: 0;
    float: none;
}

.illustration, .description { 
    position: absolute;
    top: 0;
}

.description {
    width: 100%;
    background: rgba(0,0,0,0.5);
    transition: opacity 200ms ease;
}

.description:hover { opacity: 0; }

.description a {
    display: block;
    width: calc(100% - 1em);
    height: 78%;
    padding: 22% 0.5em 0;
    color: white;
}

.illustration img {
    object-fit: cover;
}

.description h2, .description p {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-align: center;
}

.nc-icon-folder {
    display: block;
    width: 40% !important;
    margin: 0 auto;
}

.description a h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description a h2:not(span) { font-weight: 600; }

.pwg-icon-recent::before {
    color: white !important; 
    content: "\f06a";
/*    content: "\f0a2"; */
}

/* thumbnails */
#thumbnails li {
    display: inline-block;
    position: relative;
    min-width: unset;
    border-radius: 0.2rem;
    overflow: hidden;
    margin: 3px;
}

#thumbnails li:before{ content:"";display:block;margin-top:100%; }

.thumbImg, .thumbWrap { 
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0;
}

.thumbImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbWrap {
    width: 100%;
    background: rgba(255,255,255,0.8);
    transition: opacity 200ms ease;
    opacity: 0;
}

.thumbWrap:hover { opacity: 1; }

.thumbWrap a {
    display: flex;
    flex-direction: column;
/*    justify-content: center;
    align-items: center; */
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    padding: 0.5em 0.5em;
    color: #333;
}

.thumbWrap a::before, .thumbWrap a::after {
    content: '';
    margin: auto;
}

.thumbWrap h4, .thumbWrap p {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-align: center;
}

.thumbWrap a h4 {
    word-break: break-all;
    font-weight: 500;
}

.thumbWrap .pwg-icon-recent::before { color: #333 !important; }

/* footer */
#copyright {
/*    position: absolute;
    bottom: 0; */
    width: 100%;
    padding: 15px 0;
    color: #666;
    background-color: #ededed;
    margin: 0;
    font-size: 90%;
}

#copyright a { color: #666; }
#copyright a:hover { color: #999; }

/* icons */
.pwg-icon { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-indent: 0; 
    background: none;
}


[class^="pwg-icon-"]:before, [class*=" pwg-icon-"]:before {
    font-family: "FontAwesome";
    color: #333;
    font-size: 1.2em;
}

.pwg-icon:hover:before {
    color: #999;
}
/*
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px;
*/

.pwg-icon-home::before { content: "\f015"; }
.pwg-icon-camera::before { content: "\f083"; }
.pwg-icon-save::before { content: "\f0c7"; }
.pwg-icon-cloud::before { content: "\f0c2"; }
.pwg-icon-letters::before { content: "\f15d"; }
.pwg-icon-calendar::before { content: "\f073"; }
.pwg-icon-camera-calendar::before { content: "\f271"; }
.pwg-icon-help::before { content: "\f059" }

.pwg-icon-arrow-n::before { content: "\f148"; font-size: 1.5em; }
.pwg-icon-arrow-e::before { content: "\f061"; }
.pwg-icon-arrow-w::before { content: "\f060"; }
.pwg-icon-arrowstop-e::before { content: "\f051"; }
.pwg-icon-arrowstop-w::before { content: "\f048"; }

.pwg-icon-close::before { content: "\f00d"; }
.pwg-icon-category-edit::before { content: "\f0ad"; }
.pwg-icon-sort::before { content: "\f161"; }
.pwg-icon-sizes::before { content: "\f065"; }
.pwg-icon-menu::before { content: "\f0c9"; }
.pwg-icon-category-view-normal::before { content: "\f148"; }
.pwg-icon-category-view-flat::before { content: "\f00a"; }
/* .pwg-icon-category-view-flat::before { content: "\f0e8"; }
.pwg-icon-category-view-flat::before { content: "\f009"; } */

/* .pwg-icon-caddie::before { content: "\f07a"; } */
.pwg-icon-caddie::before { content: "\f291"; }
.pwg-icon-caddie-add::before { content: "\f291"; }
.pwg-icon-caddie-del::before { content: "\f291\2d"; }
.pwg-icon-favorite::before { content: "\f005"; }
.pwg-icon-favorite-add::before { content: "\f08a"; }
.pwg-icon-favorite-del::before { content: "\f004"; }
.pwg-icon-filter::before { content: "\f0b0"; }
.pwg-icon-filter-del::before { content: "\f0b0\2d"; }

.pwg-icon-camera-info::before { content: "\f129"; }
.pwg-icon-representative::before { content: "\f03e"; }
.pwg-icon-edit::before { content: "\f040"; }
.pwg-icon-register::before { content: "\f234"; }
.pwg-icon-lost-password::before { content: "\f06a"; }

.pwg-icon-slideshow::before { content: "\f26c"; }
.pwg-icon-play::before { content: "\f04b"; }
.pwg-icon-pause::before { content: "\f04c"; }
.pwg-icon-stop::before { content: "\f04d"; }
.pwg-icon-clock-plus::before { content: "\f04e"; }
.pwg-icon-clock-minus::before { content: "\f04a"; }
.pwg-icon-repeat-play::before { content: "\f01e"; }
.pwg-icon-repeat-stop::before { content: "\f05e"; }
/* .pwg-icon-repeat-stop::before { content: "\f01e\2a2f"; } */
/* .pwg-icon-repeat-stop::before { content: "\f00d"; } */

.pwg-icon-map::before { content: "\f279"; }
.pwg-icon-globe::before { content: "\f0ac"; }

/* @import "responsive-screens.css"; */


/* responsive screens */
/* tablet */

/* mobile */
@media screen and (max-width: 680px) {

/* page */
html, body { width: 100%; }

body {
/*    min-width: 100%; */
/*    overflow-x: hidden; */
}

/* #content { transition: transform 300ms ease; } */

/* menubar */
.nc-icon-menu { 
    display: inline; 
    margin-left: auto; /* flex align right */
}

#menubar {
    background: none;
    display: block;
    width: 100%;
    max-width: unset;
    height: auto;
/*    max-height: 50px; */
/*    flex-direction: column; */
    padding: 0;
/*    align-items: stretch; */
/*    transition: max-height 300ms ease; */
}

#menu, #menubar-tabs { 
    display: flex; 
    flex-direction: column;
}

#galleryTitle {
    background: #355199;
    display: flex;
    width: calc(100% - 32px);
    max-width: unset;
    height: 50px;
    padding: 0 16px;
    z-index: 1;
}

#galleryTitle h2 { padding-right: 16px; }

#menu {
    width: 100%;
    background: #4264bd;
/*    transform: translateY(-999px); */
    transition: max-height 300ms ease-in-out;
    max-height: 0px;
    overflow-y: hidden;
    justify-content: flex-end;
}

#menubar dl, #menubar dt {
    width: 100%;
    height: auto;
    margin: 0;
}

#menubar dl {
    display: flex;
    flex-direction: column;
}

#menubar-tabs { padding: 0.5rem 0; }

#menubar dt a { 
    width: calc(100% - 2rem);
    height: auto;
    flex-direction: row; 
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

#menubar-tabs dt img {
    margin-right: 0.5rem;
}

#menubar dt a span {
    display: inline;
    position: static;
    text-align: left;
    width: auto;
    transition: unset;
}

/* #menubar dt a.selected, #menubar dt a.selected span { opacity: 0.6; } */
#menubar dt:hover > a, #menubar dt:hover > a span {
    opacity: 0.6;
    font-size: 12px;
    font-weight: unset;
}

#menubar dt a.selected, #menubar dt a.selected span, #menubar dt a:focus, #menubar dt a:focus > span {
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
}

/* #menubar dt a, #menubar dt a span { opacity: 1; } */

div[class^="pointer"] {
    margin-top: -5px;
    margin-bottom: -1px;
    margin-left: 21px; /* 16px padding + 10px half icon width - 5px half pointer width */
}

.horizontal-menu div[class^="pointer"] { display: none; }

div[class^="pointer"]::before { 
    display: inline-block; 
    transform: none;
}

div[class^="pointer"].is-page::before { border-width: 5px; }

dl#mbIdentification {
    justify-content: center;
}

#mbIdentification dt {
    max-width: unset;
}

#mbIdentification dt a { 
    padding: 0.8rem;
    margin: auto;
    justify-content: center;
}

#menubar #mbIdentification dd { 
    margin-bottom: 5px; 
    text-align: center;
}

div.pointer-mbIdentification {
    margin-top: -10px !important;
    margin-left: 0 !important;
    text-align: center;
}

dl#qsearch-bar {
    width: calc(100% - 2rem - 12px); /* input padding is 6px */
    margin: 0;
    padding: 0 1rem;
}

#qsearch-bar form, #qsearch-bar input { 
    width: 100%;
}

#menubar dd, div[class^="pointer"]::before { position: static; }

#menubar dd {
    width: calc(100% - 10px);
    max-width: unset;
    margin: 0 5px;
    border: 0;
}

/* footer */
#copyright {
}

}
