/* page */
html, body { width: 100%; }

body { 
/*    position: absolute; */
    background: #f9f9f9; 
    min-width: 100% !important;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, Ubuntu, "Helvetica Neue", Arial, "Noto Color Emoji", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(34,34,34);
}

h2 {
    font-weight: unset;
}

a { color: rgb(34,34,34); }
a:hover, a:active { color: #999; }
a:hover > span::before { color: #999; }

#the_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div#content {
    margin: 0;
    flex: 1 0 0;
    padding: 0 16px;
}

.contentWithMenu { margin: 0; }

.titrePage {
    position: relative;
    padding: 10px 0!important;
}

.titrePage h2 { 
    padding: 0;
    line-height: 26px;
}

INPUT[type="text"], INPUT[type="password"], INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"], INPUT[type="file"] {
    background-color: white;
    color: #222;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 6px;
    font-size: 100%;
}

INPUT:focus, SELECT:focus, TEXTAREA:focus {
    background-color: white;
    border-color: #355199;
    outline: none;
}

INPUT::placeholder { color: #999; }

SELECT {
    background-color: white;
    color: #222;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 6px;
    font-size: 100%;
}

FIELDSET {
    margin: 0 0 1em;
    padding: 0;
    border: none;
    outline: 1px solid #dbdbdb;
}

LEGEND {
    width: calc(100% - 2em);
    padding: 1em;
    background-color: #dbdbdb;
    font-style: unset;
}

INPUT[type=submit], INPUT[type=reset] { 
    padding: 8px 16px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 150ms ease;
}

INPUT[type=submit]:hover, input[type=submit]:active { 
    background-color: #355199;
    border: 1px solid #355199;
    color: white;
}

INPUT[type=reset]:hover {
    border: 1px solid #355199;
}

INPUT[type=reset]:active { 
    border: 1px solid #dbdbdb;
    background-color: #dbdbdb; 
}

a:hover {
    border: none;
    cursor: pointer;
}

img[class^='nc-icon'] { 
    width: 20px; 
    cursor: pointer;
/*    vertical-align: middle !important; */
}

/* page banner */
#theHeader { display: none; }

/* menubar */
.nc-icon-menu { display: none; }

div#menu { margin-left: auto; } /* flex align right */

#menubar, #galleryTitle, #menubar dl, #menubar dt, #menubar dt a {
    height: 50px;
}

#menubar {
    display: flex;
    flex-direction: row;
    background-color: #355199;
    margin: 0;
    padding: 0 16px;
    width: 100%;
    max-width: calc(100% - 32px);
/*    width: calc(100% - 32px); */
/*    align-items: stretch; */
/*    min-height: 50px; */
    color: white;
/*    overflow-y: hidden; */
}

#galleryTitle {
    display:inline-flex;
    align-items: center;
    width: auto;
    min-width: 0; /* truncate when window resizes */
/*    max-width: 90px; */
/*    max-width: calc(100vw - 600px); */
    min-height: 50px;
}
#galleryTitle h2 { 
    padding: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#galleryTitle h2 a:hover, #galleryTitle h2 a:focus { opacity: 0.6; }

#menu, #menubar-tabs { 
    display: inline-flex; 
    vertical-align: top;
}

#menubar dl {
    display: inline-flex;
    flex-direction: column;
    position: relative; /* for positioning of dd */
}

#menubar a { color: white; }

div[class^="pointer"] { 
    display: none; 
    line-height: 0;
}

div[class^="pointer"].is-page { 
    display: block; 
}

div[class^="pointer"].is-page::before { border-width: 10px; }
div[class^="pointer"].is-page.hover::before { border-width: 5px; }

div[class^="pointer"]::before {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border: 0 solid transparent;
    border-bottom-color: #f9f9f9;
    border-width: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    display: block;
    z-index: 11;
    transition: border-width 100ms ease;
}

#menubar dt {   
    width: 50px;
    margin: 0 2px;
    padding: 0;
    font-weight: unset;
}

#menubar dd li {
    list-style-type: none;
    padding: 0;
}

#menubar dt a { 
    position: relative;
    font-size: 12px;
    line-height: 24px; /* for expansion */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center; /* horizontal */
}

#menubar dt a, #menubar dt a span { opacity: 0.6; }

#menubar dt a span {
    display: none;
    position: absolute;
    width: 50px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 3px; /* adjust height */
    transition: all 100ms ease;
}

#menubar dt:hover {
    opacity: 1;
    cursor: pointer;
}

#menubar dt img.translate { transform: translateY(-8px); }

#menubar dt img { transition: all 100ms ease; }

#menubar dt:hover > a, #menubar dt:hover > a span, #menubar dt a.selected, #menubar dt a.selected span {
    opacity: 1;
}

#menubar dt:hover > a span, #menubar dt a.selected span { 
    width: auto; 
    font-size: 14px;
    font-weight: bold;
}

.nc-icon-mb {
    width: 20px !important;
}

#menubar dd {
    display: none;
    position: absolute;
    margin: 0;
    padding: 10px 0;
    max-width: 300px;
/*    box-shadow: 2px 2px 5px gray; */
    background-color: #f9f9f9;
    color: black;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    top: 50px;
    right: -1em;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dd#dropdown-mbSpecials {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menubar dd, #menubar dd a {
    font-size: 14px;
}

#menubar dd a {
    color: rgb(34,34,34);
}

#menubar dd a {
    display: list-item;
    list-style-type: none;
    padding: 5px 20px;
}

#mbCategories dd a, #mbRelatedCategories dd a{
    line-height: 20px;
}

#menubar dd a:hover, #menubar dd li.selected a { 
    background-color: #ebeef5; 
    font-weight: unset;
}

#menubar dd ul {
    padding: 0;
    margin: 0;
}

#menubar dd p {
    color: #777;
    padding: 0;
    margin: 0 20px 5px;
}

#menubar dd hr {
    background: #ededed;
    border: 0.5px solid transparent;
    margin: 8px;
}

#menuTagCloud { margin: 0; }

.badge {
    margin-left: 5px;
    background-color: #dbdbdb;
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 75%;
}

.badge.badgeCategories { background-color: #b3e7ff; }

.badge.badgeCategories::before, .badge.badgeCategories::after,
.badge::before, .badge::after { content:''; }

#menubar input {
    border: 1px solid transparent;
}

#mbCategories .nc-icon-recent {
    width: 1em;
    margin-left: 5px;
}

dl#qsearch-bar { 
    width: auto; 
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

#mbIdentification dt {
    margin: 0;
    width: auto;
    max-width: 65px;
}

a#link-mbIdentification { flex-direction: row !important; }

#mbIdentification dt a span {
    display: block;
    position: relative;
    bottom: 0;
    width: auto;
    line-height: normal;
}

#mbIdentification dt:hover > a span, #mbIdentification dt a.selected span { 
    font-size: 12px;
    font-weight: unset; 
}

.nc-icon-user { margin-right: 1px; }

/* category actions */
.pwg-icon-menu {
    display: none !important;
    float: right;
    justify-content: flex-end !important;
}

.categoryActions {
    display: flex;
    align-items: center;
}

.categoryActions li:not(#languageSwitch) { margin: 0 2px; }

.pwg-button-text {
    margin-left: 0.5em;
}

[class*="langflag-"] { margin-right: 0 !important; }

li#languageSwitch {
    margin-left: 7px;
}

.switchBox {
    background-color: #f9f9f9 !important;
    border: 1px solid #dbdbdb !important;
    padding: 0.5em 1em .5em .5em;
    box-sizing: border-box;
    color: #333;
}

.switchBox a { color: #333 !important; }
.switchBox a:hover { color: #999 !important; }
.switchBoxTitle { border-bottom: 1px solid #ccc !important}

.switchBox span { line-height: 2em; }

#languageSwitchBox [class*="langflag-"] { margin-right: 0.5em !important; }

#languageSwitchBox { 
    left: unset !important;
    right: 0 !important;
    top: 36px !important; 
}

#calendarViewSwitchBox {
    left: unset !important;
    right: 0;
}

#sortOrderLink.active, #derivativeSwitchLink.active,
#sortOrderLink.active .pwg-icon::before, #derivativeSwitchLink.active .pwg-icon::before
{ color: #999; }

@media screen and (max-width: 480px) {
    .pwg-icon-menu { display: inline-flex !important; }

    .categoryActions {
        display: none;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        right: 0;
        top: 36px; /* padding-top 10px and height 26px */
        margin: 0;
        padding: .5em 1em .5em .5em;
        background-color: #ececec;
        z-index: 1;
    }

    .categoryActions li {
        margin: 3px 0 !important;
        line-height: 26px;
    }

    .pwg-icon:hover:before { color: #333 !important; }
    .categoryActions a:hover { color: #333; }

    .pwg-button {
        display: flex;
        align-items: center;
    }

    .pwg-button-text { 
        display: inline-block;
        text-align: left;
        line-height: normal;
        max-width: calc(100vw - 58px - 2em);
    }

    .pwg-icon-menu.active::before { color: #999 !important; }

    li#languageSwitch { margin: 0; }

    .langflag-en_US {
        margin-left: 1px !important;
        margin-right: 1px !important;
    }

    #languageSwitchLink span:not(.pwg-button-text) { margin: 5px 0; }

    #languageSwitchBox { padding: 0 5px !important; }
    #languageSwitchBox a { 
        display: block !important;
        margin: 1em 0 !important;
        width: unset !important;
    }

    .switchBox:not(#calendarViewSwitchBox), #languageSwitchBox {
        position: static !important;
    }
    .switchBoxTitle { display: none; }

}

/* calendar */
.content .calendarBar { margin: 0 4px 8px; }
.calendarTitle { float: left; }
.calItem {
    display: inline-block;
    margin: 0 0 0.5ch;
    padding: 1px 0.25em;
    border: 1px solid #dbdbdb;
    border-radius: 0.25em;
}

.calMonth thead { color: #333; }
TD.calDayCellFull, TD.calDayCellEmpty { border: 1px solid #dbdbdb; }
.calBackDate { color: #666; }

/* uploadForm */
#uploadForm fieldset {
    outline: none;
}

#uploadForm legend  {
    padding: 1em 0;
    background-color: transparent;
}

ul#uploader_filelist { padding: 0; }

#photosAddContent .showFieldset a {
    color: #4264bd;
}
#photosAddContent .showFieldset a:hover { text-decoration: underline; }

#uploadForm #startUpload { margin: 5px 0 40px 15px !important; }


/* picture */
#the_page { overflow: auto; }

#imageHeaderBar {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

#imageHeaderBar .browsePath {
    float: none;
    margin: 0;
}

#imageHeaderBar .imageNumber { margin-left: auto; }

#theImage { margin: 1em 0; }

#imageInfos {
    display: flex;
    align-items: center;
    background-color: #ececec;
    padding: 1em;
    border-radius: 10px;
    min-height: unset;
}
#imageInfos .navThumbsPrev { margin-right: auto; }
#imageInfos .navThumbsNext { margin-left: auto; }

#imageInfos div[class^="navThumbs"] {
    position: relative; /* for thumbHoverIcon */
    border-radius: 5px;
    overflow: hidden;
/*    height: 120px; */
}

.navThumb img { width: 120px; height: 120px; }

div.thumbHover {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #dbdbdb;
    width: 120px;
    height: 120px;
    border: none;
    padding: 0.5em;
    box-sizing: border-box;
}

.thumbHoverIcon {
    visibility: hidden;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.navThumb:hover > .thumbHoverIcon { visibility: visible; }

.thumbHoverIcon .pwg-icon { width: 80px; height: 80px; }
.thumbHoverIcon .pwg-icon:hover:before { color: white; }
.thumbHoverIcon [class^="pwg-icon"]:before {
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.pwg-icon-prev::before { content: "\f104"; }
.pwg-icon-next::before { content: "\f105"; }
.pwg-icon-back::before { content: "\f148"; font-size: 60px !important; }


.imageInfoTable { 
    margin: 0;
}
.imageInfo#Categories li { list-style: none; }
.imageInfoTable ul { padding: 0; }

#linkPrev, #linkNext { float:none; margin:0; }

.imageInfo dt { text-align: left; }

#commentAdd, #pictureCommentList { float: none; padding: 0; width: unset; }
#commentAdd { width: 500px; }

#commentAdd input[type="text"], #comments textarea { box-sizing: border-box; }

#thePicturePage .commentsList { margin-top: 27px; }

#thePicturePage .commentElement {
    padding: 1em;
    width: min(800px, calc(100% - 2em));
}
#thePicturePage .commentElement .description { padding: 0; }

@media screen and (max-width: 780px) {
    .navThumb img, div.thumbHover { width: 100px; height: 100px; }
    .imageInfoTable { max-width: 470px; }
}

@media screen and (max-width: 700px) {
    div[class^="navThumbs"] { display: none; }
    .imageInfoTable { max-width: unset; margin: auto; }
}

@media screen and (max-width: 530px) {
    #commentAdd { width: 100%; }
}

/* identification login */
#theIdentificationPage .properties span.property { width: 100px; }

#theIdentificationPage .pwg-button, #cboxContent .pwg-button {
    display: inline-flex;
    align-items: center;
}

#theIdentificationPage p:last-child { margin-bottom: 40px; }

#theIdentificationPage a[title=Register] { margin-right: 1em; }

#theIdentificationPage #remember_me { margin-top: .5em; }

#theIdentificationPage .pwg-icon { justify-content: flex-end; }

fieldset#oauth_wrap { outline: none; }
#oauth_wrap legend { 
    background-color: transparent;
}

@media screen and (max-width: 580px) {
    #theIdentificationPage .properties span.property { width: auto; }
    #theIdentificationPage .properties li input[type=text], #theIdentificationPage .properties li input[type=password] { width: calc(100% - 14px); }
}
    
/* registration */
#registerPage { flex: 1 } /* footer stays bottom */

#registerPage .properties span.property {
    display: inline-block;
    line-height: normal;
    width: 270px;
}

#registerPage .bottomButtons { text-align: center; }
#registerPage .bottomButtons input[type=submit] { margin-right: 1em; }

@media screen and (max-width: 800px) {
    #registerPage .properties li, #registerPage .properties span.property { width: 100%; }
}

@media screen and (max-width: 500px) {
    #oauth { width: calc(100% - 32px) !important; }
}

@media screen and (max-width: 200px) {
    #registerPage .bottomButtons input[type=submit] { margin-right: 0; }
}

/* lost password */
#lostPassword p { margin: 1.5em 1em; }
#lostPassword .bottomButtons { padding: 0; }

/* infos and errors */
.infos {
    color: #333;
    background: #cfebff;
}

.errors {
    color: #f51400;
    background: #ffc4bf;    
    border: none;
}

.errors, .infos {
    margin: 5px;
    padding: 5px 1.5em;
    border-radius: 0.25rem;
    font-weight: 600;
}

.infos ul, .errors ul {
    padding: 0;
    list-style: none;
}

/* mainpage categories */
ul.thumbnailCategories {
    font-size: 0;
    margin: 0 0 15px;
    text-align: center;
}

.thumbnailCategories li {
    list-style: none;
    display: inline-block;
    float: none;
    position: relative;
/*    width: 16%; */
    width: 156px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 3px;
    font-size: 12.8px;
}

.thumbnailCategories li:before{ content:"";display:block;margin-top:100%; }

.thumbnailCategory {
    margin: 0;
    padding: 0;
}

.thumbnailCategory, .thumbnailCategories .illustration, .thumbnailCategories .illustration img,
.thumbnailCategories .description { 
    width: 100% !important; 
    height: 100%; 
}

.thumbnailCategories .illustration {
    text-align: center;
    margin: 0;
    float: none;
}

.thumbnailCategories .illustration, .thumbnailCategories .description { 
    position: absolute;
    top: 0;
}

.thumbnailCategories .description {
    width: 100%;
    background: rgba(0,0,0,0.5);
    transition: opacity 200ms ease;
}

.thumbnailCategories .description:hover { opacity: 0; }

.thumbnailCategories .description a {
    display: block;
    width: calc(100% - 1em);
    height: 78%;
    padding: 22% 0.5em 0;
    color: white;
}

.thumbnailCategories .illustration img {
    object-fit: cover;
}

.thumbnailCategories .description h2, .thumbnailCategories .description p {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-align: center;
}

.nc-icon-folder {
    display: block;
    width: 40% !important;
    margin: 0 auto;
}

.thumbnailCategories .description a h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnailCategories .description a h2:not(span) { font-weight: 600; }

.pwg-icon-recent::before {
    color: white !important; 
    content: "\f06a";
/*    content: "\f0a2"; */
}

/* thumbnails */
#thumbnails li {
    display: inline-block;
    position: relative;
    min-width: unset;
    border-radius: 0.2rem;
    overflow: hidden;
    margin: 3px;
}

#thumbnails li:before{ content:"";display:block;margin-top:100%; }

.thumbImg, .thumbWrap { 
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0;
}

.thumbImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbWrap {
    width: 100%;
    background: rgba(255,255,255,0.8);
    transition: opacity 200ms ease;
    opacity: 0;
}

.thumbWrap:hover { opacity: 1; }

.thumbWrap a {
    display: flex;
    flex-direction: column;
/*    justify-content: center;
    align-items: center; */
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    padding: 0.5em 0.5em;
    color: #333;
}

.thumbWrap a::before, .thumbWrap a::after {
    content: '';
    margin: auto;
}

.thumbWrap h4, .thumbWrap p {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-align: center;
}

.thumbWrap a h4 {
    word-break: break-all;
    font-weight: 500;
}

.thumbWrap .pwg-icon-recent::before { color: #333 !important; }

/* tags */
#fullTagCloud { text-align: center; }

ul#fullTagLetters {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
}

#fullTagLetters li {
    list-style: none;
    flex-basis: max(20%, 200px);
    max-width: max(20%, 200px);
}

fieldset.tagLetter {
    width: auto;
    outline: none;
    height: calc(100% - 10px); /* padding is 10px */
    box-sizing: border-box;
    margin: 0 .5em .5em 0;
}

.navigationBar span.pageNumberSelected, .navigationBar a { margin: 0 .25em; }
.content .navigationBar { margin: 1em 4px 40px; }

@media screen and (max-width: 480px) {
    #fullTagLetters li {
        list-style: none;
        flex-basis: 100%;
        max-width: unset;
    }
}

/* search */
.filter legend { margin-bottom: 1em; }

.filter fieldset p {
    margin: 0 1em 1em;
}

.filter input[name="search_allwords"] { width: calc(min(500px, 100%) - 12px); }

.filter .selectize-input { width: min(500px, 100%); }

.filter ul {
    float: unset;
    margin: 0 0 0 1em;
}

.filter ul:last-child { margin-bottom: 1em; }

.filter ul li { display: inline-block; }

.filter ul li:first-child { display: block; }

.filter ul li a {
    color: #4264bd;
    text-decoration: underline;
    margin-left: 0.5em;
}

.filter ul li a:hover { color: #999; }

.filter p { 
    margin-bottom: 40px;
}

.filter p label { display: inline-block; }

@media screen and (max-width: 156px) {
    .filter p { margin-bottom: calc(40px - 0.5em); }
    .filter input[type=submit], .filter input[type=reset] { margin: 0 0 0.5em 1em; }
}

.search_results { margin: 0; }

/* about & notification */
#piwigoAbout { width: min(600px, 100%); }
#linkToPiwigo a, .notification dl a { color: #4264bd; }
#linkToPiwigo a:hover, .notification dl a:hover { text-decoration: underline; }

.notification { 
    padding: 0 !important; 
    width: min(600px, 100%);
    margin: auto;
}

/* customize profile */
/*
#profile fieldset {
    margin: 0 0 1em;
    padding: 0;
    border: none;
}

#profile legend {
    width: calc(100% - 2em);
    padding: 1em;
    background-color: #dbdbdb;
    font-style: unset;
}
*/
.properties ul {
/*    border: 1px solid #dbdbdb;
    border-top: none; */
    padding: 1em
}

.properties li { 
    text-align: left;
} 

.properties span.property {
    width: 240px;
    text-align: left;
}

.properties li input[type=text], .properties li input[type=password] { width: calc(240px - 14px); }
.properties li input[name=nb_image_page] { width: calc(100px - 14px); }
.properties li select { width: 240px; }

.properties li label { margin-right: 1em; }

.bottomButtons {
    text-align: left;
    padding: 0 1em;
    margin: 0 0 40px;
}

/*
.bottomButtons input { 
    padding: 8px 16px;
    border-radius: 100px;
    cursor: pointer; 
}

.bottomButtons input[name=validate]:hover, .bottomButtons input[name=validate]:active { 
    background-color: #355199;
    border: 1px solid #355199;
    color: white;
}
*/

.bottomButtons input[name*="reset"]:hover {
    border: 1px solid #355199;
    background-color: transparent;
    color: #222;
}


.bottomButtons input[name*="reset"]:active { 
    border: 1px solid #dbdbdb;
    background-color: #dbdbdb; 
}

#oauth { margin: 1em auto 0 !important; }

@media screen and (max-width: 580px) {
    .properties li, .properties span.property { width: 100%; }
    .properties li input[type=text], .properties li input[type=password] { width: calc(100% - 14px); }
    .properties li select { width: 100%; }
}

@media screen and (max-width: 380px) {
    .properties li, .properties span.property { width: 100%; }
    .bottomButtons { text-align: center; padding: 0; }
    .bottomButtons input { white-space: break-spaces; }
    .bottomButtons input[name=validate], .bottomButtons input[name=reset] { margin-bottom: 0.5em; }
}

/* comments */
#theCommentsPage ul {
    margin: 0 1em;
}

#theCommentsPage ul:last-child { margin-bottom: 1em; }
#theCommentsPage ul.commentsList { margin: 0; }

/*#theCommentsPage li { width: 100%; }*/
#theCommentsPage li input { max-width: calc(100% - 12px); }
#theCommentsPage li select { max-width: 100%; }

#comments {
    padding:0 ;
    margin-bottom: 40px;
}

.commentElement {
    display: flex;
    padding: 0.7em;
    border-radius: 0;
    margin: 0 0 1em;
    background: #dbdbdb;
}

#theCommentsPage .commentElement .illustration {
    width: 120px !important;
    position: relative;
    flex-shrink: 0;
}

#theCommentsPage .commentElement .illustration::before { content:''; display:block; margin-top:100%; }

#theCommentsPage .commentElement .illustration a {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#theCommentsPage .commentElement .illustration a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commentElement .description {
    min-height: unset !important;
    padding: 1em;
    flex-grow: 1;
}

.commentElement .description blockquote {
    margin: 0;
}

@media screen and (max-width: 480px) {
    .commentElement .illustration { width: 100px !important; }
}

@media screen and (max-width: 300px) {
    #theCommentsPage li input { width: calc(100% - 12px); } /* input padding is 6px */
    #theCommentsPage li select { width: 100%; }

    .commentElement { flex-direction: column; }

    #theCommentsPage .commentElement .description {
        margin-top: 0.7em;
        width: calc(100% - 1.4em); /* li padding is 0.7em */
        box-sizing: border-box;
        padding: 0;
    }
    #theCommentsPage input[type=submit] {
        margin: 0;
        white-space: break-spaces;
    }
}

/* edit */
#batchManagerGlobal { margin-bottom: 40px; }

#batchManagerGlobal fieldset {
    outline: none; 
    margin: 0 0 30px !important;
}
#batchManagerGlobal fieldset.edit-photos-filter { margin: 0 !important; }

#batchManagerGlobal legend { margin-bottom: 1em; }
#batchManagerGlobal #action legend { margin-bottom: 0; }
#permitAction { margin-top : 1em; }

#forbidAction { padding: 25px 0.5em !important; }

#batchManagerGlobal .navigationBar { padding: 0 10px !important; }
#batchManagerGlobal .navigationBar, #batchManagerGlobal .navigationBar a, #batchManagerGlobal .navigationBar span:not(.pageNumberSelected) { 
    background-color: #ececec !important; 
}
.content .pageNumberSelected { font-style: unset; }

.thumbnailsActionsNumber {
    margin-right: 0 !important;
    background-color: #ececec !important;
}

#batchManagerGlobal #checkActions a { display: inline-block; }

#applyFilter, .addFilter-button {
    line-height: 1.2em;
    text-align: left;
}

#addFilter .icon-plus:before, .icon-arrows-cw { margin-right: 8px !important; }

#action_download label { white-space: nowrap; }

#community_edit_photos #addAlbumForm input[type=submit]:hover, #community_edit_photos #addAlbumForm input[type=submit]:active {
    border: none;
    color: #3C3C3C;
}

@media screen and (max-width: 700px) {
    #batchManagerGlobal ul.thumbnails {
        justify-content: center !important;
        margin-left: 0 !important;
    }
    #batchManagerGlobal .navigationBar { 
        padding: 0 5px !important; 
        box-sizing: border-box;
    }

    #permitAction {
        max-width: calc(100vw - 32px); /* content padding is 16px */
        overflow: scroll;
    }
    .permitActionListButton div::before, div#action_associate::before { display: none; }
}

@media screen and (max-width: 380px) { 
    #batchManagerGlobal .navigationBar {
        max-width: calc(100vw - 32px); /* content padding is 16px */
        overflow: scroll;
    }

    .filterBlock li { 
        width: 100% !important; 
        margin: 0 0 10px !important;
    }

    #filter_prefilter::before, #filter_category::before, #filter_scope::before, #action_associate select::before {
        margin-left: calc(100% - 47px) !important;
    }
}

@media screen and (max-width: 315px) {
    .permitActionListButton select { width: calc(100vw - 32px) !important; }

    .filterActions { flex-direction: column; }
    .addFilter-button { margin-bottom: 10px; }

    #applyFilter, .addFilter-button {
        padding: 10px !important;
        height: auto !important;
    }

}

/* footer */
#copyright {
/*    position: absolute;
    bottom: 0; */
    width: 100%;
    padding: 15px 0;
    color: #666;
    background-color: #ededed;
    margin: 0;
    font-size: 90%;
}

#copyright a { color: #666; }
#copyright a:hover { color: #999; }

/* icons */
.pwg-icon { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-indent: 0; 
    background: none;
}


[class^="pwg-icon-"]:before, [class*=" pwg-icon-"]:before {
    font-family: "FontAwesome";
    color: #333;
    font-size: 1.2em;
}

.pwg-icon:hover:before {
    color: #999;
}
/*
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px;
*/

.pwg-icon-home::before { content: "\f015"; }
.pwg-icon-camera::before { content: "\f083"; }
.pwg-icon-save::before { content: "\f0c7"; }
.pwg-icon-cloud::before { content: "\f0c2"; }
.pwg-icon-letters::before { content: "\f15d"; }
.pwg-icon-calendar::before { content: "\f073"; }
.pwg-icon-camera-calendar::before { content: "\f271"; }
.pwg-icon-help::before { content: "\f059" }

.pwg-icon-arrow-n::before { content: "\f148"; font-size: 1.5em; }
.pwg-icon-arrow-e::before { content: "\f061"; }
.pwg-icon-arrow-w::before { content: "\f060"; }
.pwg-icon-arrowstop-e::before { content: "\f051"; }
.pwg-icon-arrowstop-w::before { content: "\f048"; }

.pwg-icon-close::before { content: "\f00d"; }
.pwg-icon-category-edit::before { content: "\f0ad"; }
.pwg-icon-sort::before { content: "\f161"; }
.pwg-icon-sizes::before { content: "\f065"; }
.pwg-icon-menu::before { content: "\f0c9"; }
.pwg-icon-category-view-normal::before { content: "\f148"; }
.pwg-icon-category-view-flat::before { content: "\f00a"; }
/* .pwg-icon-category-view-flat::before { content: "\f0e8"; }
.pwg-icon-category-view-flat::before { content: "\f009"; } */

/* .pwg-icon-caddie::before { content: "\f07a"; } */
.pwg-icon-caddie::before { content: "\f291"; }
.pwg-icon-caddie-add::before { content: "\f291"; }
.pwg-icon-caddie-del::before { content: "\f291\2d"; }
.pwg-icon-favorite::before { content: "\f005"; }
.pwg-icon-favorite-add::before { content: "\f08a"; }
.pwg-icon-favorite-del::before { content: "\f004"; }
.pwg-icon-filter::before { content: "\f0b0"; }
.pwg-icon-filter-del::before { content: "\f0b0\2d"; }

.pwg-icon-camera-info::before { content: "\f129"; }
.pwg-icon-representative::before { content: "\f03e"; }
.pwg-icon-edit::before { content: "\f040"; }
.pwg-icon-register::before { content: "\f234"; }
.pwg-icon-lost-password::before { content: "\f06a"; }

.pwg-icon-slideshow::before { content: "\f26c"; }
.pwg-icon-play::before { content: "\f04b"; }
.pwg-icon-pause::before { content: "\f04c"; }
.pwg-icon-stop::before { content: "\f04d"; }
.pwg-icon-clock-plus::before { content: "\f04e"; }
.pwg-icon-clock-minus::before { content: "\f04a"; }
.pwg-icon-repeat-play::before { content: "\f01e"; }
.pwg-icon-repeat-stop::before { content: "\f05e"; }
/* .pwg-icon-repeat-stop::before { content: "\f01e\2a2f"; } */
/* .pwg-icon-repeat-stop::before { content: "\f00d"; } */

.pwg-icon-map::before { content: "\f279"; }
.pwg-icon-globe::before { content: "\f0ac"; }


/* responsive screens */
/* tablet */

/* mobile */
@media screen and (max-width: 680px) {

/* page */
html, body { width: 100%; }

body {
/*    min-width: 100%; */
/*    overflow-x: hidden; */
}

/* #content { transition: transform 300ms ease; } */

/* menubar */
.nc-icon-menu { 
    display: inline; 
    margin-left: auto; /* flex align right */
}

#menubar {
    background: none;
    display: block;
    width: 100%;
    max-width: unset;
    height: auto;
/*    max-height: 50px; */
/*    flex-direction: column; */
    padding: 0;
/*    align-items: stretch; */
/*    transition: max-height 300ms ease; */
}

#menu, #menubar-tabs { 
    display: flex; 
    flex-direction: column;
}

#galleryTitle {
    background: #355199;
    display: flex;
    width: calc(100% - 32px);
    max-width: unset;
    height: 50px;
    padding: 0 16px;
    z-index: 1;
}

#galleryTitle h2 { padding-right: 16px; }

#menu {
    width: 100%;
    background: #4264bd;
/*    transform: translateY(-999px); */
/*    transition: max-height 100ms ease-in-out; */
    max-height: 0px;
    overflow-y: hidden;
    justify-content: flex-end;
}

#menubar dl, #menubar dt {
    width: 100%;
    height: auto;
    margin: 0;
}

#menubar dl {
    display: flex;
    flex-direction: column;
}

#menubar-tabs { padding: 0.5rem 0; }

#menubar dt a { 
    width: calc(100% - 2rem);
    height: auto;
    flex-direction: row; 
    justify-content: flex-start;
    padding: 0.5rem 1rem;
}

#menubar-tabs dt img {
    margin-right: 0.5rem;
}

#menubar dt a span {
    display: inline;
    position: static;
    text-align: left;
    width: auto;
    transition: unset;
}

/* #menubar dt a.selected, #menubar dt a.selected span { opacity: 0.6; } */
#menubar dt:hover > a, #menubar dt:hover > a span {
    opacity: 0.6;
    font-size: 12px;
    font-weight: unset;
}

#menubar dt a.selected, #menubar dt a.selected span, #menubar dt a:focus, #menubar dt a:focus > span {
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
}

/* #menubar dt a, #menubar dt a span { opacity: 1; } */

div[class^="pointer"] {
    margin-top: -5px;
    margin-bottom: -1px;
    margin-left: 21px; /* 16px padding + 10px half icon width - 5px half pointer width */
}

.horizontal-menu div[class^="pointer"], #mbHome div[class^="pointer"] { display: none; }

div[class^="pointer"]::before { 
    display: inline-block; 
    transform: none;
}

div[class^="pointer"].is-page::before { border-width: 5px; }

dl#mbIdentification {
    justify-content: center;
}

#mbIdentification dt {
    max-width: unset;
}

#mbIdentification dt a { 
    padding: 0.8rem;
    margin: auto;
    justify-content: center;
}

#menubar #mbIdentification dd { 
    margin-bottom: 5px; 
    text-align: center;
}

div.pointer-mbIdentification {
    margin-top: -10px !important;
    margin-left: 0 !important;
    text-align: center;
}

dl#qsearch-bar {
    width: calc(100% - 2rem - 12px); /* input padding is 6px */
    margin: 0;
    padding: 0 1rem;
}

#qsearch-bar form, #qsearch-bar input { 
    width: 100%;
}

#menubar dd, div[class^="pointer"]::before { position: static; }

#menubar dd {
    width: calc(100% - 10px);
    max-width: unset;
    margin: 0 5px;
    border: 0;
}

/* footer */
#copyright {
}

}
